package-lock = false
python=C:\Windows\py.exe
registry=http://registry.npmjs.org/
progress=false
prefer-offline=true
always-auth=false
link-workspace-packages = true
shared-workspace-lockfile = true
shamefully-hoist = true
reporter = silent
